.profile_container{
    height: 100%;
    width: 348px;
}
.profile{
    height: 432px;
    width: 292px;
    padding: 40px 0 190px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .profile {
        height: 432px;
        width: 292px;
        padding: 40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .profile_container{
        height: 100%;
        width: 348px;
        display: flex;
        justify-content: center;
    }
}
.profile_photo{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    overflow : hidden;
}
.profile_info{
    height: 124px;
    width: 292px;
}
.profile_info_name{
    height: 34px;
    max-width: 292px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
}
.profile_info_nick{
    height: 29px;
    max-width: 292px;
    margin-top: 12px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #0064EB;
}
.profile_info_follow{
    height: 24px;
    width: 292px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.profile_info_follow_followers{
    height: 24px;
    width: 147px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.profile_info_follow_following{
    height: 24px;
    width: 129px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}