.input_wrapper{
    margin-right: 762px;
    height: 40px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.input_wrapper_elements{
    display:flex;
    align-items: center;
    margin: 8px 14px 8px 14px;
}
.input input  {
    height: 24px;
    width: 256px;
    outline: 0;
    border: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

}


.search_icon{
    margin: 5px 11px 5px 5px;
}