.input_wrapper{
    margin-right: 15px;
    height: 40px;
    width: 36.6%;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.input_wrapper_elements{
    display:flex;
    align-items: center;
    width: 100%;
    padding: 8px 14px 8px 14px;
}
.input input  {
    height: 24px;
    width: 100%;
    outline: 0;
    border: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
}
.search_icon{
    width: 24px;
    height: 24px;
    margin: 5px 11px 5px 5px;
}