.header{
    height: 72px;
    width: 100%;
    background-color: #0064EB;
    display: flex;
    align-items: center;
}
.logo_icon{
    width: 41px;
    height: 40px;
    margin-left: 41px;
    padding-right: 15px;
}


